.container {
    background-color: black;
}

.container div {
    display: inline-block;
    font-size: 60px;
    line-height: normal;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
    vertical-align: middle;
}

.container .icon {
    vertical-align: middle;
}